.general_cont{
    padding: 20px 60px;
.header_wrap{
    padding-bottom:30px ;
    .main_title{
        color:
        #8dd3d7;
        font-size: 47px;
        font-weight: lighter;
        margin-right: 20px;
        margin-bottom: 0px;
        line-height: 90%;
    }
    .main_subtitle{
        color:
        #7e7e7e;
        font-size: 14px;
        font-weight: 500;

    }

 
}
.card{
border-style: none !important;
background-color: 
#f5f5f5 !important;
.content_wrapper{
    padding: 10px 15px;

    .card_title{
       color:  #8dd3d7;
        font-size: 17px;
        font-weight: bolder;
        margin-bottom: 10px;
     
       
    }
    .card_subtitle{
        color:
        #7e7e7e;
         font-size: 14px;
         font-weight: normal;
         padding-left:10px ;
         padding-right:10px ;
         text-align: center;
         margin-bottom: 10px;
         height: 100px;
      
        
     }
     i{
        color:
        #7e7e7e;
        font-size: 14px;
        margin-right: 10px;

     }
     .content_text{
        color:
        #7e7e7e;
         font-size: 14px;
         font-weight: normal;
       
     }
}

}

}
.modal-body{
    padding-bottom: 100px;
    .card_title{
        color:  #8dd3d7;
         font-size: 17px;
         font-weight: bolder;
         margin-bottom: 10px;
      
        
     }
     .card_subtitle{
         color:
         #7e7e7e;
          font-size: 14px;
          font-weight: normal;
         
    
         
       
         
      }
}
.modal-lg{
    max-width: 80% !important;
}
.close{
    background-color: black !important;
    color: white !important;
    border-style: none !important;
    span{
        font-size: 21px !important;
        font-weight: bolder !important;
    }
}
.custom_footer{
    padding: 40px 110px;
    background-color: #17a6b6;
    .footer_title{
        color: white;
        font-size: 21px;
        font-weight: normal;
        margin-bottom: 20px;
    }
    .footer_text{
        color: white;
        font-size: 14px;
        font-weight: normal;
    }
    .first_wrap{
        i{
            margin-right: 20px;
            font-size: 31px;
            color: white;
        }
        .fa-envelope-open{
            margin-right: 20px;
            font-size: 18px !important;
            color: white;
        }
        .contact_btn{
            padding: 5px 10px;
            background-color: 
            #ececec;
            color:#17a6b6;
            border-style: none;
            font-size: 14px;

        }
    }
    .second_wrap{
        .circle{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                color: #17a6b6;
                font-size: 21px;
            }
        }
        hr{
            color: white;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        input{
            padding-left: 20px;
            width: 70%;
            border-style:none ;
            height: 35px;
        }
        .signup_btn{
            width: 30%;
            height: inherit;
            background-color: 
            #ececec;
            color:#17a6b6;
            border-style: none;
            font-size: 14px;

        }
    }
    .third_wrap{
        ul{
            li{
                color: white;
            }
        }
    }
}
@media only screen and (max-width: 1000px) {
    .general_cont{
        padding: 20px 0px;
    }
    .custom_footer{
        padding: 20px 20px;
    }
    .card{
    .content_wrapper{
        padding: 10px 0px;
    } 
    .card_subtitle{
       
         height: 170px !important;
      
        
     } 
}  
  }